<div fxLayoutAlign="center center" fxFlexFill class="main-div animated fadeInRight">
    <mat-card fxFlex="25">
        <mat-toolbar color="primary">
            <span>Register</span>
          </mat-toolbar>
        <form fxLayoutAlign="streth" fxLayout="column" class="login-form" (ngSubmit)="onSubmit( registroForm )" #registroForm = "ngForm">
          <span *ngIf="registroForm.submitted && registroForm.controls['name'].errors" 
           class=" animated fadeIn text-danger"> El nombre es obligatorio</span>
            <mat-form-field >
                <input matInput placeholder="Name" name="name" [(ngModel)]="user.name" required minlength="3" >
              </mat-form-field>
              <span *ngIf="registroForm.submitted && registroForm.controls['email'].errors" 
           class=" animated fadeIn text-danger"> El correo es obligatorio</span>
            <mat-form-field >
              <input matInput placeholder="Email" name="email" [(ngModel)]="user.email" required email>
            </mat-form-field>
            <span *ngIf="registroForm.submitted && registroForm.controls['pass'].errors" 
           class=" animated fadeIn text-danger">La contraseña es obligatorio</span>
            <mat-form-field >
                <input matInput type="password" name="pass" [(ngModel)]="user.pass" required  minlength="6">
            </mat-form-field>
            <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100" class="text-center">
              <span>ir a 
                  <a [routerLink]="['/login']">Login</a>
              </span>
          </div>
            <button mat-raised-button color="accent">Registrarse</button>
          </form>
    </mat-card>
</div>